@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

h1, h2, h3, p{
  font-size: 1.15em;
}

#servicesExplanationSection{
  a{
    font-size: 1.5em;
  }
}

  .footerServiceLinks{
    font-size: 0.90em;
  }

  button{
    font-size: 1.25em;
  }

nav{
  a{
    font-size: 1.25em;
  }
}

footer {
  h3, p, .footerServiceLinks{
    font-size: 0.90em;
  }
}
//}
//
//#servicesExplanationSection{
//  a{
//    font-size: 1.50em;
//  }
//}
//
//#homeQuoteSection{
//  button{
//    font-size: 1.25em;
//  }
//}

@media screen and (min-width: 768px){
  nav{
    font-size: 0.85em;

    h1{
      font-size: 1.5em;
    }
  }
  .services{
    font-size: 1.05em;
  }
}

//@media screen and (min-width: 1000px) and (max-width: 1223px){
//  footer{
//    font-size: 1em;
//  }
//}

@media screen and (min-width: 1224px){
  nav{
    h1{
      font-size: 1.5em;
    }
  }
  .services{
    font-size: 1.05em;
  }
}