.textBlockHome{
  margin: 2em 1em 2em 1em;

  h2{
    margin-bottom: 0;
  }
}

#serviceHeader{
  background-color: @navGray;
  height: 2em;
  margin: 4em 0 0 0;
  padding: 2em 0 2em 1em;

  h1{
    font-size: 24px;
    color: @redBtnHover;
  }
}

#servicesExplanationSection{
  width: 100%;
  height: auto;
  padding: 1em 0 1em 0;
  margin-top: 0;
  background-color: @navGray;
  box-sizing: border-box;

  a{
    text-decoration: none;
    color: @redBtnHover;
  }

  div{
    margin: 0 1em 0 1em;
  }

  h1{
    text-align: center;
    color: @redBtnHover;
    margin-bottom: 2em;
  }

  h2{
    color: @redBtnHover;
  }
}

#homeQuoteSection{
  width: 100%;
  height: 20em;
  background-color: @navGray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4em 0 0 0;

  p{
    margin: 0 1em 2em 1em;
  }

  button{
    background-color: @redBtn;
    height: 3em;
    width: 14em;
    border-radius: 0.5em;
    border: none;
    color: @white;
    margin-bottom: 1em;
  }

  button:hover{
    background-color: @redBtnHover;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #homeQuoteSection{
    max-width: 100%;
    p{
      max-width: 90%;
    }
  }
}

@media screen and (min-width: 1000px){
  #textBlockContainer{
    display: flex;
    justify-content: space-evenly;
  }

  .textBlockHome{
    width: 40%;
    margin: 2em 4em 2em 4em;
    //font-size: 1.25em;
  }

  #homeQuoteSection{
    p{
      width: 60%;
      //font-size: 1.25em;
    }
  }

  #serviceHeader{
    background-color: @navGray;
    margin-top: 4em;
    padding: 2em 0 1em 4em;

  }

  #servicesExplanationSection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    height: 30em;
    padding: 1em 3em 1em 3em;
    box-sizing: border-box;

    h1{
      position: absolute;
      margin: 0 0 0 0.75em;
    }

    div{
      margin: 0 1em 0 1em;
      width: 40%;
    }
  }

  @supports (-ms-ime-align: auto){
    .textBlockHome{
      width: 100%;
      margin: 2em 4em 2em 4em;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 999px){
  #textBlockContainer{
    width: 80%;
    margin: auto;
  }

  #servicesExplanationSection{
    padding: 4em;
    box-sizing: border-box;
  }

  #serviceHeader{
    padding: 2em 0 1em 5em;
  }
}