.text-block-container{
  width: 90%;
  margin: auto;
}

.text-block{
  margin: 2em 0 2em 0;

  h2{
    margin-bottom: 0;
  }
}

.about-history{
  margin: 2em auto;
  width: 90%;
}

.service-header{
  background-color: @navGray;
  height: 2em;
  margin: 4em 0 0 0;
  padding: 2em 0 2em 1em;

  h1{
    color: @redBtnHover;
  }
}

.service-explanation-section{
  width: 100%;
  height: auto;
  padding: 1em 0 1em 0;
  margin-top: 0;
  background-color: @navGray;
  box-sizing: border-box;

  a{
    text-decoration: none;
    font-weight: bold;
    color: @redBtnHover;
  }

  div{
    margin: 0 1em 0 1em;
  }

  h1{
    text-align: center;
    color: @redBtnHover;
    margin-bottom: 2em;
  }

  h2{
    color: @redBtnHover;
  }
}

.quote-section{
  height: 20em;
  background-color: @navGray;
  margin: 4em 0 0 0;

  p{
    margin: 0 1em 2em 1em;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .quote-section{
    max-width: 100%;
    p{
      max-width: 90%;
    }
  }
}

@media screen and (min-width: 1000px){
  .text-block-container{
    margin: 0 6em 0 6em;
    display: flex;
    width: auto;
  }

  section.text-block-container.flex-column-evenly-center{
    width: 85%;
    padding: 0 3em 0 3em;
    box-sizing: border-box;

    p{
      width: 50%;
    }
  }

  .text-block{
    margin: 1em auto 1em auto;

    p{
      width: 18em;
    }
  }

  .about-history{
    width: 85%;
    margin: 5em 0 5em 10em;
    display: flex;
    flex-direction: column;

    p{
      width: 60%;
    }
  }

  .quote-section{
    p{
      width: 60%;
    }
  }

  .service-header{
    background-color: @navGray;
    margin-top: 3em;
    padding: 2em 0 1em 9em;
  }

  .service-explanation-section{
    height: 32em;
    padding: 1em 8em 1em 8em;
    box-sizing: border-box;

    a{
      font-size: 1.25em;
    }

    div{
      margin: 0 1em 0 1em;
      width: 40%;
    }
  }

  @supports (-ms-ime-align: auto){
    .text-block{
      width: 100%;
      margin: 2em 4em 2em 4em;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 999px){
  .text-block-container{
    width: 80%;
    margin: auto;
  }

  .service-explanation-section{
    padding: 4em;
    box-sizing: border-box;
  }

  .service-header{
    padding: 2em 0 1em 5em;
  }
}