@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}
html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;
  font-family: Roboto;
}
nav {
  min-width: 100%;
  max-width: 100%;
  height: 4em;
  border-bottom: 1px solid black;
  position: fixed;
  background-color: #F04343;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  font-size: 1.25em;
  margin-left: 1em;
  color: white;
}
nav a {
  margin-left: 2em;
  font-size: 1.25em;
  text-decoration: none;
  color: #F8F8F8;
}
#desktopNav {
  display: none;
}
#navMenu {
  height: 2.5em;
  width: 3em;
  margin-right: 1em;
}
.menuBar {
  width: auto;
  height: 0.5em;
  border-radius: 1em;
  background-color: black;
  margin: 0.25em;
}
#closeBtn {
  height: 3em;
  width: 3em;
  z-index: 2;
  float: right;
  align-self: flex-end;
}
.closeBar {
  width: 2em;
  height: 0.25em;
  border-radius: 1em;
  background-color: black;
  position: absolute;
}
#leftBar {
  transform: rotate(45deg);
  position: absolute;
}
#rightBar {
  transform: rotate(315deg);
  position: absolute;
}
#dropDown {
  visibility: hidden;
  top: 4em;
  left: 0;
  height: 0;
  position: fixed;
  z-index: 2;
  min-width: 100%;
  background-color: #F8F8F8;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#dropDown a {
  opacity: 0;
}
#services {
  visibility: hidden;
  display: flex;
  flex-direction: column;
}
#serviceLink:hover #services {
  visibility: visible;
  transition: visibility 1s ease-in-out;
}
#navMenu:hover #dropDown {
  visibility: visible;
  height: 30em;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
#navMenu:hover #dropDown a {
  opacity: 1;
  transition: opacity 0.1s linear;
}
html:hover #dropDown {
  height: 0;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
html:hover #dropDown a {
  opacity: 0;
  transition: opacity 0.1s linear;
}
@media screen and (min-width: 1000px) {
  #dropDown,
  #navMenu,
  #closeBtn,
  #mobileTitle {
    display: none;
  }
  nav {
    height: 3em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    max-width: 100%;
  }
  nav h1 {
    margin: auto 0 auto 2em;
    font-size: 1.5em;
    max-width: 100%;
  }
  #desktopNav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 3em;
  }
  .aLinks {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin: 0 1em 0 0;
    max-width: 100%;
  }
  .aLinks a {
    margin: 0 1em 0 0;
  }
  .services {
    align-self: flex-end;
    margin: 0 2em 0 0;
    font-size: 1.05em;
    max-width: 100%;
  }
}
footer {
  height: auto;
  width: 100%;
  bottom: 0;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 2em 0 2em 0;
  margin-top: 5em;
}
footer section h3 {
  margin-bottom: 0;
}
@media screen and (min-width: 1000px) {
  footer {
    flex-direction: row;
  }
}
.titleContainer {
  height: 100vh;
  width: 100%;
  margin-bottom: 5em;
}
.overlay {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.titleImage {
  height: 100%;
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.titleText {
  color: white;
  text-align: center;
  align-self: flex-end;
  width: 90%;
}
#homeTitleImage {
  background-image: url("../assets/images/camera-cyber-data-430208-mobile.jpg");
}
@media screen and (min-width: 1000px) {
  .titleContainer {
    height: 500px;
  }
  .overlay {
    height: 500px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .titleText {
    text-align: left;
    width: 30%;
    margin: 0 0 0 2em;
    font-size: 1.25em;
    align-self: flex-start;
  }
  #homeTitleImage {
    background-image: url("../assets/images/camera-cyber-data-430208.jpg");
  }
}
@media screen and (min-width: 600px) {
  .titleContainer {
    height: 500px;
  }
  .overlay {
    height: 500px;
  }
}
.textBlockHome {
  margin: 4em 1em 4em 1em;
}
.line {
  height: 0.1em;
  background-color: #d9d9d9;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  #textBlockContainer {
    display: flex;
    justify-content: space-evenly;
  }
  .textBlockHome {
    width: 20%;
  }
}
@media screen and (min-width: 600px) {
  #textBlockContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .textBlockHome {
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */