.title-container{
  height: auto;
  width: 100%;
  animation: loadIn 2s;
}

.overlay{
  background-image: linear-gradient(0deg, rgba(0,0,0,0.60), rgba(0,0,0,0));
  height: 500px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-image{
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-text{
  color: white;
  font-size: 1.50em;
  margin-top: 18em;
  text-align: center;
}

#home-title-image{
  background-image: url("../assets/images/protek-home-mobile.jpg");
}

#about-title-image{
  background-image: url("../assets/images/protek-about-mobile.jpg");
}

#sprinkler-title-image{
  background-image: url("../assets/images/sprinkler-valve-mobile-s.jpg");
}

#alarm-title-image{
  background-image: url("../assets/images/camera-cyber-data-430208-mobile.jpg");
}

#extinguisher-title-image{
  background-image: url("../assets/images/protek-extinguisher-mobile.jpg");
}

#contact-title-image{
  background-image: url("../assets/images/protek-contact-mobile.jpg");
}

@media screen and (min-width: 1000px){
  .title-container{
    margin-bottom: 4em;
    box-sizing: border-box;
  }

  .overlay{
    height: 100%;
    width: 75%;
    background-image: linear-gradient(90deg, rgba(0,0,0,0.65), rgba(0,0,0,0));
    display: block;
  }

  .title-text{
    font-size: 2em;
    margin: 8em 0 0 4em;
    position: absolute;
    text-align: left;
  }

  #home-title-image{
    background-image: url("../assets/images/protek-home.jpg");
  }
  #about-title-image{
    background-image: url("../assets/images/protek-about.jpg");
  }
  #sprinkler-title-image{
    background-image: url("../assets/images/sprinkler-valve.jpg");
  }
  #alarm-title-image{
    background-image: url("../assets/images/camera-cyber-data-430208.jpg");
  }
  #extinguisher-title-image{
    background-image: url("../assets/images/protek-extinguisher.jpg");
  }
  #contact-title-image{
    background-image: url("../assets/images/protek-contact.jpg");
  }
}

@media screen and (min-width: 600px){
  .overlay{
    height: 500px;
  }
}

@media screen and (min-width: 600px) and (max-width: 999px){
  #sprinkler-title-image{
    background-image: url("../assets/images/sprinkler-valve-tablet.jpg");
  }

  #extinguisher-title-image{
    background-image: url("../assets/images/protek-extinguisher-tablet.jpg");
  }

  #about-title-image{
    background-image: url("../assets/images/protek-about-tablet.jpg");
  }

  #home-title-image{
    background-image: url("../assets/images/protek-home-tablet.jpg");
  }

  #alarm-title-image{
    background-image: url("../assets/images/camera-cyber-data-430208-tablet.jpg");
  }

  #contact-title-image{
    background-image: url("../assets/images/protek-contact-tablet.jpg");
  }

  .title-container{
    margin: 0;
  }

  .title-text{
    margin-top: 18em;
  }
}

@media screen and (min-width: 400px){
  background-image: url("../assets/images/sprinkler-valve-mobile.jpg");
}

